#works {
  padding-top: 60px;
  padding-bottom: 160px;
}
@media (max-width: 768px) {
  #works {
    padding-top: 30px;
    padding-bottom: 70px;
  }
}
#works .h2-title {
  color: #393939;
  text-align: center;
}
#works .h2-title::before, #works .h2-title::after {
  background-color: #393939;
  left: 50%;
}
#works .h2-title::before {
  margin-left: 80px;
}
#works .h2-title::after {
  margin-left: -80px;
}
#works #works-list {
  display: flex;
  padding-bottom: 15px;
  overflow-x: scroll;
  position: relative;
  margin-top: 90px;
}
#works #works-list::-webkit-scrollbar {
  height: 4px;
  opacity: 0.8;
  display: none;
}
#works #works-list::-webkit-scrollbar-track {
  background-color: #a2c8c3;
}
#works #works-list::-webkit-scrollbar-thumb {
  background-color: #dcdcdc;
}
#works #works-list:hover::-webkit-scrollbar {
  display: block;
}
#works #works-list:hover {
  padding-bottom: 11px;
}
@media (max-width: 768px) {
  #works #works-list {
    margin-top: 40px;
    flex-direction: column;
  }
}
#works #works-list li {
  display: flex;
  margin-right: 200px;
}
@media (max-width: 768px) {
  #works #works-list li {
    flex-direction: column;
    margin-right: 0;
  }
}
#works #works-list li:last-child {
  margin-right: 20px;
}
@media (max-width: 768px) {
  #works #works-list li:last-child {
    margin-right: 0;
  }
}
#works #works-list li:first-child {
  margin-left: 20%;
}
@media (max-width: 768px) {
  #works #works-list li:first-child {
    margin-left: 0;
  }
}
#works #works-list li .works-img {
  width: 800px;
  margin-right: 40px;
}
#works #works-list li .works-img img {
  width: 100%;
}
@media (max-width: 768px) {
  #works #works-list li .works-img {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
  }
}
#works #works-list li .works-text {
  margin-top: 50px;
}
@media (max-width: 768px) {
  #works #works-list li .works-text {
    margin-top: 0px;
    margin-bottom: 60px;
    text-align: center;
  }
}
#works #works-list li .works-text p {
  color: #393939;
  font-weight: 600;
  font-size: 2rem;
  font-family: "Noto Sans JP", sans-serif;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  #works #works-list li .works-text p {
    font-size: 1.2rem;
  }
}
#works #works-list li .works-text button {
  border: none;
  display: block;
  position: relative;
  padding: 0.7em 2.4em;
  font-size: 18px;
  background: transparent;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  overflow: hidden;
  color: #26a699;
  z-index: 1;
  font-family: inherit;
  font-weight: 500;
}
@media (max-width: 768px) {
  #works #works-list li .works-text button {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.1rem;
  }
}
#works #works-list li .works-text button span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: -1;
  border: 4px solid #26a699;
  border-radius: 3px;
}
#works #works-list li .works-text button span::before {
  content: "";
  display: block;
  position: absolute;
  width: 8%;
  height: 500%;
  background: var(--lightgray);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-60deg);
  transition: all 0.3s;
}
#works #works-list li .works-text button:hover {
  color: rgb(255, 255, 255);
}
#works #works-list li .works-text button:hover span::before {
  transform: translate(-50%, -50%) rotate(-90deg);
  width: 100%;
  background: #26a699;
}
#works #works-list li .works-text button:active span::before {
  background: #26a699;
}/*# sourceMappingURL=woks.css.map */
