* ul, * ol {
  list-style: none;
}
* a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: #f9f2e7;
  font-family: "Montserrat", sans-serif;
}
body p, body a {
  font-size: 1rem;
}

.logo:hover {
  cursor: pointer;
}
.logo a {
  font-family: "Playfair Display", serif;
  font-size: 30px;
}
@media (max-width: 740px) {
  .logo a {
    font-size: 25px;
  }
}

header {
  background-color: #59362c;
  color: #f9f2e7;
  width: 100%;
  position: fixed;
  z-index: 10;
}
header .header-content {
  width: 97%;
  height: 60px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 740px) {
  header .header-content {
    width: 90%;
    height: 50px;
  }
}
header .header-content .header-menu .main-nav ul {
  display: flex;
  align-items: center;
}
header .header-content .header-menu .main-nav ul li {
  margin-left: 15px;
}
header .header-content .header-menu .main-nav ul li a {
  transition: text-shadow 0.2s ease;
}
header .header-content .header-menu .main-nav ul li a:hover {
  text-shadow: 0px 0px 4px #f9f2e7;
}
@media (max-width: 740px) {
  header .header-content .header-menu {
    display: none;
  }
}
header .header-content .hamburger-menu {
  display: none;
}
@media (max-width: 740px) {
  header .header-content .hamburger-menu {
    display: block;
    width: 30px;
    height: 50px;
  }
  header .header-content .hamburger-menu .hamburger {
    width: 100%;
    height: 50px;
    position: relative;
  }
  header .header-content .hamburger-menu .hamburger::before, header .header-content .hamburger-menu .hamburger::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #f9f2e7;
  }
  header .header-content .hamburger-menu .hamburger::before {
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
  }
  header .header-content .hamburger-menu .hamburger::after {
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
  }
  header .header-content .hamburger-menu .hamburger.open::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(32deg);
  }
  header .header-content .hamburger-menu .hamburger.open::after {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-32deg);
  }
}
header .header-menu-sp {
  display: none;
}
@media (max-width: 740px) {
  header .header-menu-sp .main-nav-sp {
    margin-top: 20px;
  }
  header .header-menu-sp .main-nav-sp ul li {
    margin-bottom: 15px;
  }
  header .header-menu-sp .main-nav-sp ul li a {
    display: block;
    padding: 5px 0;
    text-align: center;
    font-size: 1rem;
  }
  header .header-menu-sp .main-nav-sp ul li p {
    text-align: center;
    padding: 5px 0;
  }
}

.menu-background {
  display: none;
}
@media (max-width: 740px) {
  .menu-background {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3411764706);
    position: fixed;
    bottom: 0;
    z-index: 9;
  }
}

.header-gap {
  padding-top: 60px;
}
@media (max-width: 740px) {
  .header-gap {
    padding-top: 50px;
  }
}

footer {
  width: 100%;
  background-color: #a5a5a5;
  padding-top: 40px;
}
@media (max-width: 740px) {
  footer {
    padding-top: 10px;
  }
}
footer a, footer p {
  color: #59362c;
  font-size: 0.75rem;
}
footer .footer-menu {
  width: 75%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 740px) {
  footer .footer-menu {
    display: block;
  }
  footer .footer-menu .footer-logo {
    text-align: center;
  }
}
footer .footer-menu .main-nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
footer .footer-menu .main-nav ul li {
  margin-left: 10px;
}
footer .footer-menu .main-nav ul li a:hover {
  opacity: 0.8;
}
@media (max-width: 740px) {
  footer .footer-menu .main-nav {
    display: none;
  }
}
footer .footer-copy {
  text-align: center;
  margin-top: 30px;
  padding-bottom: 15px;
}
@media (max-width: 740px) {
  footer .footer-copy {
    margin-top: 10px;
  }
}/*# sourceMappingURL=styles.css.map */